.wrapper {
  min-height: 100vh;
  background: black;
  color: rgb(221, 221, 221);
}

.main {
  min-height: calc(100vh - 100px);
}

.table,
tr,
td,
th {
  background: transparent !important;
  color: white !important;
}

.in {
  color: greenyellow !important;
}
.out {
  color: red !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse {
  animation: pulse 1.5s ;
}

.text-gradient{
  background-image: linear-gradient(90deg,white,rgb(172, 191, 27));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text; 
}